<h1>String Reversal</h1>
<form action="/display" method="post" accept-charset="utf-8">
	<label for="reversal">Enter string for reversal:  </label>
	<input type="text" name="post[reversal]" id="reversal" /><br />
	<input type="submit" value="Reverse">
<form>
